*.o
*.dfdl
*codec*
example1/annotated/
example1/divvied/
example1/partitioned/
example1/refactored/
example1/topology.json
example2/annotated/
example2/divvied/
example2/partitioned/
example2/refactored/
example2/topology.json
example3/annotated/
example3/divvied/
example3/partitioned/
example3/refactored/
example3/topology.json
